<div class="form-group row">
    <div class="col-5 offset-2">
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn btn-outline-primary form-control" value="Создать" />

            </div>
            <div class="col-6">
                <a class="btn btn-outline-success form-control" asp-page="Index">Назад</a>

            </div>
        </div>
    </div>
</div>