@using ZooSalon2.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="shortcut icon" href="~/Images/xxh.png" />
    <title> @ViewData["Title"] - LoveGroom  </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body class="layout-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom-transparent box-shadow mb-3" @*style="border:  transparent"*@>
            @* заменили light и white на dark  *@ @*bg-light*@
            <div class="container">
                <i style="        color: #6c757d" class="fas fa-paw"></i>
                <a class="navbar-brand text-info" asp-area="" asp-page="/Index"> LoveGroom</a>  @*Добавили text-info*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>*@
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Услуги</a>
                        </li>
                        @if (User.IsInRole(SD.AdminEndUser))
                        {

                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                                <a class="nav-link" asp-area="" asp-page="/ServiceTypes/Index">Изменение услуг</a>
                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                                <a class="nav-link" asp-area="" asp-page="/Users/Index">Пользователи</a>
                            </li>
                        }
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                            <a class="nav-link" asp-area="" asp-page="/Animals/Index">Профиль</a>
                        </li>
                         @*@if (!User.IsInRole(SD.AdminEndUser))
                        {

                            <li class="nav-item">
                               
                                <a class="nav-link" asp-area="" asp-page="/Record/Create">Записаться</a>
                            </li>
                          
                        }*@
                         @if (User.IsInRole(SD.AdminEndUser))
                        {

                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                                <a class="nav-link" asp-area="" asp-page="/Record/Create">Записи</a>
                            </li>
                          
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted"> сделали темное снизу*@@*style="background-color:#343a40"*@

<footer class="border-top-transparent box-shadow footer  text-muted  pl-3">
    <div class="container" >       
            <div class="row">
                <div class="col">
                    <h5>  <i class="fas fa-paw"></i> LoveGroom</h5>
                    <h6>Комплекс услуг, необходимый Вашему домашнему питомцу, чтобы чувствовать себя здоровым, нужным и любимым!</h6>
                </div>
                <div class="col">
                    <h5>Контакты:</h5>
                    <h6><i class="fas fa-phone"></i> <i class="fab fa-whatsapp"></i>  +7 999 999 99 99</h6>
                    <h6><a href="https://yandex.ru/maps/43/kazan/house/kremlyovskaya_ulitsa_35/YEAYdwViSEYCQFtvfXt4c31gbQ==/?ll=49.122135%2C55.792139&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=15" style="color:#6c757d"> <i class="fas fa-map-marker-alt"></i> Кремлевская 35, Казань </a></h6>
                    <h6>
                        <i class="far fa-clock"></i> ПН-ВС 10:00-20:00
                    </h6>
                </div>
                <div class="col" >
                    <h5>Социальные сети:</h5>
                    <h6><a href="https://vk.com/" style="color:#6c757d"><i class="fab fa-vk"></i>LoveGroom</a></h6> 
                    <h6><a href="https://www.instagram.com/" style="color:#6c757d"><i class="fab fa-instagram"></i>LoveGroom</a></h6>
                </div>
            </div>
        </div>  
</footer>


            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
</body>
</html>
