@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Images/logo2.png" hspace="100" width="370" />
            </div>
            <div class="col">
                <h1>Добро пожаловать в салон красоты LoveGroom!</h1>

                Станем вторым лучшим другом для вашего питомца
                <br />
                <i class="fas fa-mobile-alt"></i>
                +7 999 999 99 99
            </div>
        </div>
    </div>
    <br />
    <h2>Наши клиенты</h2>

    <div class="container">
        <div class="row g-5">
            <div class="col">

                <img src="~/Images/1.jpg" alt="Colors" width="300">
            </div>
            <div class="col">

                <img src="~/Images/2.jpg" alt="Colors" width="300">
            </div>
            <div class="col">

                <img src="~/Images/3.jpg" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/4.png" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/5.jpg" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/6.png" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/7.jpg" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/8.jpg" alt="Colors" width="300">
            </div>
            <div class="col">
                <br />
                <img src="~/Images/9.jpg" alt="Colors" width="300">
            </div>
        </div>
    </div>

</div>